<div class="jumbotron">
  <h1 class='text-center'>I Wanna go Home!</h1>
  <h3 class='text-center'>sparta rails mini project homework</h3>
  <h3 class="text-center">┻━┻ ︵ヽ(`Д´)ﾉ ︵﻿ ┻━┻</h3>
</div>

<%= image_tag 'crying.jpeg', class:"rounded mx-auto d-block", width:'450px' %>
<p class='text-center'><strong>me when i go home</strong></p>
